@{
//ViewBag.Title = "Contact Us";
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-8">
        <div class="well">
           <h3>@ViewBag.Message</h3>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <address>
                123 Street Avenue<br />
                Somewhere, CA X5X 5X5<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>

@section Scripts
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        jQuery(function ($) {

        });
    </script>
}










