
@{
    ViewBag.Title = "Administration";
}

<div class="row">
    <div class='col-sm-12'>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Administration</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="content" style="text-align:left;">
            <a href="/admin/users" style="float:left;margin:5px;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-users" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;">Users</h3>
                </div>
            </a>

            <a href="/admin/roles" style="float:left;margin:5px;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-shield" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;">Roles</h3>
                </div>
            </a>

            <a href="/admin/categories" style="float:left;margin:5px;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-square" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Categories</h3>
                </div>
            </a>

            <a href="/admin/products" style="float:left;margin:5px;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-shopping-basket" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Products</h3>
                </div>
            </a>

            <a href="/manage/RSS" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-rss" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">RSS</h3>
                </div>
            </a>

            <a href="/manage/youtube" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-youtube" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">YouTube</h3>
                </div>
            </a>

            <a href="/manage/user" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-certificate" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Recent</h3>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;margin-top:-5px">Updates</h3>
                </div>
            </a>

            <a href="/manage/explore" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-folder-open-o" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Explore</h3>
                </div>
            </a>


            <a href="/manage/documents" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-file-archive-o" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Documents</h3>
                </div>
            </a>


            <a href="/EventMessage" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-dashboard" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Events</h3>
                </div>
            </a>

            <a href="/manage/contacts" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-th-list" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">Contact</h3>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;margin-top:-5px">Cards</h3>
                </div>
            </a>

            <a href="/manage/config" style="float:left;margin:5px;display:none;">
                <div class="tile" style="width:140px;min-height:140px;padding-top:30px;">
                    <div class="icon fa fa-cogs" style="display:inline-block;width:100%;text-align:center;margin: auto;font-size:36px;"></div>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;">System</h3>
                    <h3 style="width:100%;text-align:center;margin-bottom:0;padding-bottom:0;margin-top:-5px">Config</h3>
                </div>
            </a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

@section Scripts
{
    <style type="text/css">
    </style>
    <script type="text/javascript">

    </script>
}
